

body {

    background-color: whitesmoke;
    background-image: url("/Mod316-DOM/DOMsba/images/pexels-david-disponett-16630831.jpg");
    background-size: cover;
    margin: auto;
    overflow: hidden;

}

#top-menu {
  background-color: #f2f2f2;
  padding: 5px;
  border-style: solid;
}

#top-menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  /* background-color: blue; */
}

#top-menu ul li {
  position: relative;
}

.submenu-items {
  display: none;
  position: fixed;
  top: 100%;
  background-color: #faf0dc;
  padding: 8px;
  margin-top: 2px;
  /* white-space: nowrap; this deals with the floavors aslo */
}

/* .submenu-items.visible { */
  /* display: block; show the submenu items when the "visible" class is added */
/* } */

.submenu-items li {
  display: inline-block;
  margin-right: 10px;
}

.submenu-items li a {
  /* color: orangered; these are the flavors  */
  text-decoration: none;
}

.submenu-items.active {
  display: block;
}

#top-menu ul li span {
  display: inline-block;
  padding: 10px 15px;
  color: palevioletred;
  cursor: pointer;
  outline-style: dotted;
}

#top-menu ul li:hover > .submenu-items {
  display: block;
}

.show {
  display: block;
}

footer {
  margin-top: 300px;
}

p {
margin-left: 45%;
font-size: 25px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 800;
}